html, body{
    height: 100%;
    margin: 0;
    overflow:hidden;
}
/*标题*/
.info-title{
    background-color: #1269DB;
    padding-left: 20px;
    color: #ffffff;
    font-size: 28px;
    height: 80px;
}
.info-title img{
    height: 85%;
    padding-top: 5px;
    display: block;
    float: left;
}
.info-title span{
    float: right;
    font-size: 12px;
    margin-top: 60px;
    margin-right: 10px;
}
.info-title a{
    color: #ffb639;
}
/*导航栏*/
.navigationBar{
    height: calc(100% - 20px - 80px);
    /*background-color: #dedbdb;*/
    background-color: #e6ecff;
    width: 200px;
    float: left;
}
/*导航栏列表*/
.sub-navigation{
    padding-top: 20px;
    padding-left: 0;
    cursor:default;
}
.sub-navigation div{
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;

}
.sub-navigation .hotkey{
    border-radius: 4px;
    /*background-color: #828282;*/
    background-color: #1572e8;
    color: #FFFFFF;
    box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.1),4px 4px 15px -5px rgba(21,114,232,.4);
}
.sub-navigation .common{
    border-radius: 4px;
    background-color: #e6ecff;
    color: #000000;
}
.sub-navigation .common:hover{
    border-radius: 4px;
    background-color: #bfd0ff;
    color: #000000;
}
/*显示主体*/
.content-box{
    background-color: #F7F7FC;
    height: calc(100% - 20px - 80px);
    float: right;
    width: calc(100% - 200px);
    overflow:auto;

}
/*底部导航栏*/
.copyright{
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    height: 16px;
    width: 100%;
    float: left;
    background-color: #1269DB;
    color: #FFFFFF;
}
/*分页样式*/
.content-list-page li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.content-list-page .page-link{
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-radius: 100px;
    margin: 10px 2px;
    border: 1px solid #dee2e6;
    font-size: 12px;
    padding: .5rem .75rem;

}
.content-list-page .page-link-in{
    border: 1px solid rgb(0,123,255);
    background-color: rgb(0,123,255);
    color: #ffffff;
}
.content-list-page .pagination{
    margin: 8px 0 2px;
    white-space: nowrap;
    justify-content: flex-end;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
/*信息列表*/
.content-list{
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 2px 6px 15px 0 rgba(69,65,78,.1);
    height: calc(100% - 40px);
    overflow:hidden;
}
.content-list-title{
    /*background-color: #393737;*/
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    font-size: 24px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 10px;
}
.content-list-box{
    height: calc(100% - 40px - 32px - 46px);
    overflow:auto;
}
.content-list-page{
    height: 46px
}
.content-list-operating{
    padding-top: 10px;
    height: 32px;
    overflow: hidden;
}
table{
    width: 100%;
}
table.manage-table{
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #bbc4c4;
    border-collapse: collapse;
}
table.manage-table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ffffff;
}
table.manage-table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.manage-table .head{
    background-color: #ffd99c;
}
.manage-table .singular{
    background-color: #ffffff;
}
.manage-table .dual{
    background-color: #F2F2F2;
}
.manage-table .button-modify{
    background-color: #0aa9ff;
    color: #ffffff;
    border: 1px solid #0aa9ff;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px;
}
.manage-table .button-del{
    background-color: #e53582;
    color: #ffffff;
    border: 1px solid #e53582;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px;
}
/*列表操作栏样式*/
.content-list-row{
    font-size: 12px;
    float: left;
}
.content-list-row select{
    border-color: #c1c1c1;
    width: 60px;
}
.content-list-row select:focus{
    border-color: #41a7ff;
}
.content-list-search{
    font-size: 12px;
    float: right;
}
.content-list-search button{
    margin-left: 5px;
    font-size: 12px;
    width: 40px;
    background-color: #f68121;
    color: #ffffff;
    border: 1px solid #f68121;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 10px;
}
#button-insert{
    width: 50px;
    background-color: #ce3636;
    color: #ffffff;
    border: 1px solid #ce3636;
    border-radius: 4px;
    margin-left: 10px;
}
#button-emptyTemplate{
    width: 50px;
    background-color: #1d5fb3;
    color: #ffffff;
    border: 1px solid #1d5fb3;
}
#button-export{
    background-color: #631aac;
    color: #ffffff;
    border: 1px solid #631aac;
}
#button-import{
    background-color: #14bd1d;
    color: #ffffff;
    border: 1px solid #14bd1d;
    margin-right: 20px;
}
/*个人信息*/
.content-info{
    border-radius: 8px;
    background-color: #ffffff;
    width: 305px;
    margin-top: 40px;
    margin-left: 40px;
    /*border: 1px solid #aaaaaa;*/
    overflow:hidden;
    box-shadow: 2px 6px 15px 0 rgba(69,65,78,.1);
}
.content-info-title{
    /*background-color: #393737;*/
    background-color: #1269DB;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding-top: 8px;
    width: 100%;
    height: 40px;
}
/*列表样式*/
.content-info-table{
    width: 100%;
}
.content-info-table .row{
    height: 30px;
}
.content-info-table .row .row-title{
    width: 30%;
    background-color: #c4e0ff;
    border-radius: 2px;
}
.content-info-table .row .row-content{
    text-align: left;
    background-color: #ffffff;
    padding-left: 10px;
    border-bottom: 1px solid #a6d1ff;
}
/*输入框样式*/
.input-box{
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.input-box .input-title{
    width: 50px;
    height: 24px;
    padding-right: 4px;
    margin: 6px 4px 6px 24px;
    display: inline-block;
    position: absolute;
    border-right: 1px solid #dcdcdc;
    text-align: center;
}

.input-box .input-input{
    height: 32px;
    margin-left: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding-left: 72px;
    overflow: initial;
}
.input-box .input-file{
    padding-top: 7px;
    height: 30px;
}
.input-box .input-input:hover{
    border: 1px solid #ff934c;
}
.input-box .input-input:active{
    border: 1px solid #ff934c;
}
.input-box select{
    width: 268px;
}
.input-box div{
    width: 194px;
}
.input-box input{
    width: 192px;
}
/*按钮的样式*/
.button-box{
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.button-box button{
    background-color: #0066b6;
    color: #ffffff;
    font-size: 16px;
    width: 266px;
    height: 40px;
    margin-left: 18px;
    border: 1px solid #0066b6;
    border-radius: 4px;
}
/*空模板*/
.content-air{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/*选方向*/
.content-direction{
    width: 150px;
    float: left;
    cursor:default;
}
.content-direction-box{
    width: calc(100% - 150px - 80px);
    float: right;
}
.content-direction div{
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
}
.content-direction .hotkey{
    border-radius: 4px;
    /*background-color: #828282;*/
    background-color: #1572e8;
    color: #FFFFFF;
    box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.1),4px 4px 15px -5px rgba(21,114,232,.4);
}
.content-direction .common{
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
}
/*开关样式*/
.input-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
}
.input-switch input {display:none;}
.input-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.input-switch .slider:before {
    /*圆*/
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 8px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.input-switch input:checked + .slider {
    background-color: #2196F3;
}
.input-switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.input-switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.input-switch .slider.round {
    border-radius: 34px;
}
.input-switch .slider.round:before {
    border-radius: 50%;
}
#direction-set li{
    list-style:none; /* 将默认的列表符号去掉 */
    padding:0; /* 将默认的内边距去掉 */
    margin:0; /* 将默认的外边距去掉 */
    float:left; /* 往左浮动 */
}
/*错误样式*/
.input-error {
    border: 1px solid #ff934c;
    background: #fefcee;
    width: 253px;
    height: auto;
    margin-left: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    content: "\E607";
}
/*弹出窗口*/
.pop-up-box{
    position: absolute;
    width: calc(305px + 10px*2);
    left: calc((100% - 305px) / 2);
    top: 15%;

    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 40px;
    margin-left: 40px;
    /*border: 1px solid #aaaaaa;*/
    overflow:hidden;
    box-shadow: 2px 6px 15px 0 rgba(69,65,78,.1);
}
.pop-up-box .title{
    /*background-color: #393737;*/
    background-color: #1269DB;
    color: #FFFFFF;
    padding-left: 10px;
    text-align: left;
    font-size: 22px;
    padding-top: 8px;
    width: 100%;
    height: 40px;
}
.pop-up-box .content{
    padding: 10px;
}
.pop-up-box .close{
    float: right;
    padding-right: 20px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:pointer;
}